<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Page content-->
<div th:fragment="base">
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="/assets/js/scripts.js"></script>
  <script th:src="@{/assets/js/scripts.js}"></script>
  <input type="hidden" id="t9n_token" name="t9n_token" th:value="${t9n_token}">
  <script src="https://cdn.jsdelivr.net/npm/lz-string@1.4.4/libs/lz-string.min.js"></script>
  <script th:src="@{/assets/js/translate.js}"></script>
</div>
</body>
</html>