<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Page content-->
<div class="bg-light" th:fragment="base">
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <div><a class="a_deco_none" th:href="@{/}"><img th:src="@{/assets/SHBLOG.png}"><!-- <h1 th:text="#{app.title}">SH BLOG</h1>--></a></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <section>
              <select id="languageSelector" class="form-select form-control notranslate"><option value="ko">한국어 (Korean)</option><option value="en">English (English)</option><option value="es">Español (Spanish)</option><option value="fr">Français (French)</option><option value="de">Deutsch (German)</option><option value="ja">日本語 (Japanese)</option><option value="zh-CN">中文 (Chinese, Simplified)</option><option value="zh-TW">繁體中文 (Chinese, Traditional)</option><option value="ru">Русский (Russian)</option><option value="pt">Português (Portuguese)</option><option value="it">Italiano (Italian)</option><option value="hi">हिन्दी (Hindi)</option><option value="ar">العربية (Arabic)</option><option value="vi">Tiếng Việt (Vietnamese)</option><option value="th">ภาษาไทย (Thai)</option></select>
              <div class="search">
                <form action="/blog">
                  <input name="keyword" class="btn_text form-control" type="text" placeholder="블로그 게시물 검색" th:value="${keyword}">
                  <button class="btn_search"></button>
                </form>
              </div>
            </section>
          </li>
          <li class="nav-item active"><a class="nav-link"  th:href="@{/}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/blog/lunch-select" th:text="#{nav.lunch-select}">lunch-select</a></li>
          <li class="nav-item"><a class="nav-link" href="/blog/seoul-culture-list" th:text="#{nav.seoul_culture_list}">서울 문화생활 List</a></li>
          <li class="nav-item"><a class="nav-link" href="/blog/my-career" th:text="#{nav.mycareer}">MY-CAREER</a></li>
          <li th:if="${session.loginUserId!=null}" class="nav-item"><a class="nav-link" href="/blog/admin/category" th:text="#{nav.category}">카테고리 관리</a></li>
          <li th:if="${session.loginUserId!=null}" class="nav-item"><a class="nav-link" href="/blog/add" th:text="#{nav.blog}">게시물 등록</a></li>
          <li th:if="${session.loginUserId!=null}" class="nav-item">
            <a class="nav-link" href="https://shkim3000.cafe24.com:9060/dashboards" target="_blank">
              <img th:src="@{/assets/grafana.jpg}" alt="Grafana" style="width: 16px; height: 16px;">Grafana
            </a>
          </li>
          <li th:if="${session.loginUserId!=null}" class="nav-item">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                나의학습
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" target="_blank" href="https://www.inflearn.com/my/list">Inflearn</a></li>
                <li><a class="dropdown-item" target="_blank" href="https://www.udemy.com/home/my-courses/learning/">Udemy</a></li>
                <li><a class="dropdown-item" target="_blank" href="https://python.langchain.com/docs/how_to/">langchain-how-to</a></li>
                <li><a class="dropdown-item" target="_blank" href="https://platform.openai.com/docs/overview">openai-overview</a></li>
              </ul>
            </div>
          </li>
          <li th:if="${session.loginUserId==null}" class="nav-item"><a class="nav-link" href="/blog/login" th:text="#{nav.login}">로그인</a></li>
          <li th:if="${session.loginUserId!=null}" class="nav-item"><a class="nav-link" href="/blog/logout" th:text="#{nav.logout}">로그아웃</a></li>
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#!" th:text="#{nav.logout}">Action</a>
              <a class="dropdown-item" href="#!">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#!">Something else here</a>
            </div>
          </li>
          -->
        </ul>
      </div>
    </div>
  </nav>
</div>
</body>
</html>