<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Header -->
        <div th:replace="fragment/header :: base"></div>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Page content wrapper-->
            <div id="page-content-wrapper" class="min-height-800">
                <!-- Top navigation-->
                <div th:replace="fragment/top_navbar :: base"></div>
                <div th:replace="~{fragment/page_explain :: copyParam ('', '')}"></div>
                <div class="container-fluid">
                    <th:block th:each="blogData : ${blogList}">
                        <div class="border-end border-bottom border-secondary border-2 rounded rounded-3 p-sm-3 m-md-3">
                            <div class="bg-light bg-gradient">
                                <div><h2 class="blog-title" th:text="${blogData.title}">게시글의 제목</h2></div>
                                <div>
                                    작성자아이디 : <span class="fst-italic" th:text="${blogData.member_id}"></span>,
                                    <span class="fst-italic" th:text="${blogData.ins_timestamp}"></span>
                                </div>
                            </div>
                            <hr/>
                            <div th:utext="${blogData.contents}"></div>
                        </div>
                    </th:block>
                </div>

                <!-- paging button -->
                <nav aria-label="Page navigation example ">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/?currentPage={page} (page = ${pagination.prevPage})}" aria-label="Previous">
                                <span aria-hidden="true">◀</span>
                            </a>
                        </li>
                        <th:block  th:with="start = ${pagination.nowStart}, end = ${pagination.nowEnd}">
                            <li class="page-item" th:classappend="${pagination.currentPage} == ${pageButton} ? active"
                                th:with="start = ${pagination.nowStart}, end = ${pagination.nowEnd}"
                                th:each="pageButton : ${#numbers.sequence(start, end)}">

                                <a class="page-link" th:href="@{/?currentPage={page} (page = ${pageButton})}" th:text=${pageButton}></a>
                            </li>
                        </th:block>
                        <li class="page-item">
                            <a class="page-link" th:href="@{?currentPage={page} (page = ${pagination.nextPage})}" aria-label="Next">
                                <span aria-hidden="true">▶</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- body asset -->
        <div th:replace="fragment/body_asset :: base"></div>

        <!-- footer -->
        <div th:replace="fragment/footer :: base"></div>
    </body>
</html>
