<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Header -->
        <div th:replace="fragment/header :: base"></div>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Page content wrapper-->
            <div id="page-content-wrapper" class="min-height-800">
                <!-- Top navigation-->
                <div th:replace="fragment/top_navbar :: base"></div>
                <div th:replace="~{fragment/page_explain :: copyParam ('', '')}"></div>
                <div class="container-fluid">
                    <th:block th:each="blogData : ${blogList}">
                        <div class="border-end border-bottom border-secondary border-2 rounded rounded-3 p-sm-3 m-md-3">
                            <div><h2 class="bg-light bg-gradient">게시글의 제목</h2></div>
                            <div>
                                작성자아이디 : <span class="fst-italic" th:text="${blogData.member_id}"></span>,
                                <span class="fst-italic" th:text="${blogData.ins_timestamp}"></span>
                            </div>
                            <div th:utext="${blogData.contents}"></div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

        <!-- body asset -->
        <div th:replace="fragment/body_asset :: base"></div>

        <!-- footer -->
        <div th:replace="fragment/footer :: base"></div>
    </body>
</html>
